.my_taxonomy_plugin_color-editor-on-post >h2 {
    padding-left: 0 !important;
    font-weight: bold !important;
}
.my_taxonomy_plugin_color-taxonomies__hierarchical-terms-input {
    margin-top: -1px !important;
}
.my_taxonomy_plugin_color-taxonomies__hierarchical-terms-list {
    width: auto;
    float: left;
    margin-right: 20px;
}
.my_taxonomy_plugin_color-quick-editor select {
    width: 100%;
    min-height: 180px;
}
.my_taxonomy_plugin_color-post-display {
    padding-bottom: 17px;
}
.my_taxonomy_plugin_color-post-display .row  {
    padding-top: 7px;
}
.my_taxonomy_plugin_color-post-display .row .label {
    width: 40%;
    display: inline-block;
}